/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┃┃┃┣┫┗┫┣┫┣┫┣┫
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┻┛┛┗┗┛┻┛┛┗┛┗
 *                                   
 */


/*-----Surface Transparent Background------*/
@define-color surface-alpha rgba(25, 18, 12, 0.5);

/*-----All Colors--------*/

@define-color background #19120c;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #372f28;

@define-color inverse_primary #845316;

@define-color inverse_surface #eee0d5;

@define-color on_background #eee0d5;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #492900;

@define-color on_primary_container #ffdcbc;

@define-color on_primary_fixed #2c1700;

@define-color on_primary_fixed_variant #683d00;

@define-color on_secondary #402c18;

@define-color on_secondary_container #feddbe;

@define-color on_secondary_fixed #291805;

@define-color on_secondary_fixed_variant #58432c;

@define-color on_surface #eee0d5;

@define-color on_surface_variant #d5c3b5;

@define-color on_tertiary #293411;

@define-color on_tertiary_container #dae9b5;

@define-color on_tertiary_fixed #151f01;

@define-color on_tertiary_fixed_variant #3f4b25;

@define-color outline #9d8e81;

@define-color outline_variant #50453a;

@define-color primary #fbba73;

@define-color primary_container #683d00;

@define-color primary_fixed #ffdcbc;

@define-color primary_fixed_dim #fbba73;

@define-color scrim #000000;

@define-color secondary #e1c1a3;

@define-color secondary_container #58432c;

@define-color secondary_fixed #feddbe;

@define-color secondary_fixed_dim #e1c1a3;

@define-color shadow #000000;

@define-color source_color #836f5c;

@define-color surface #19120c;

@define-color surface_bright #403830;

@define-color surface_container #251e17;

@define-color surface_container_high #302921;

@define-color surface_container_highest #3b332c;

@define-color surface_container_low #211a14;

@define-color surface_container_lowest #130d07;

@define-color surface_dim #19120c;

@define-color surface_tint #fbba73;

@define-color surface_variant #50453a;

@define-color tertiary #becc9b;

@define-color tertiary_container #3f4b25;

@define-color tertiary_fixed #dae9b5;

@define-color tertiary_fixed_dim #becc9b;


