@define-color primary #c3c6d5;
@define-color on_primary #2d303c;
@define-color primary_container rgba(141, 144, 158, 0.8);
@define-color on_primary_container #000000;

@define-color secondary #c6c6cc;
@define-color on_secondary #2f3035;
@define-color secondary_container rgba(70, 70, 76, 0.7);
@define-color on_secondary_container #e0dfe6;

@define-color tertiary #d5c1cd;
@define-color on_tertiary #392d36;
@define-color tertiary_container rgba(157, 140, 151, 0.7);
@define-color on_tertiary_container #000000;

@define-color surface rgba(19, 19, 20, 0.85);
@define-color surface_variant rgba(70, 70, 76, 0.8);
@define-color on_surface #e5e2e2;
@define-color on_surface_variant #c7c6cc;

@define-color outline_variant rgba(70, 70, 76, 0.6);

@define-color error #ffb4ab;
@define-color error_container rgba(147, 0, 10, 0.8);
@define-color on_error_container #ffdad6;