@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.05, 0.7, 0.1, 1);
}

window#waybar {
    border-radius: 0;
    background: @surface;
}

menu {
    border-radius: 0px;
    background: @surface;
}

#custom-separator {
    color: @on_surface;
}

#custom-omarchy {
    margin: 6px 0px 6px 6px;
    padding: 2px 0px 2px 6px;
    color: @primary;
}

#custom-omarchy:hover {
    box-shadow: inset 0 -2px 0 0 @primary;
}

#media {
    margin: 6px 0px;
    padding: 2px 0px;
}

#custom-media-icon {
    color: @primary;
    padding: 0px;
}

#custom-media-icon:hover {
    color: @secondary;
}

#mpris {
    color: @primary;
    padding: 0px;
}

#custom-media-info {
    color: @primary;
    padding: 0px;
}

#custom-media-prev,
#custom-media-play,
#custom-media-next {
    padding: 0 8px;
    color: @primary;
}

#workspaces button {
    margin: 6px 0px;
    padding: 2px 0px;
    border-radius: 0px;
    color: @on_primary;
    transition:
        padding 0.2s cubic-bezier(0.05, 0.7, 0.1, 1),
        box-shadow 0.2s;
}

#workspaces button.active {
    margin: 6px 0px;
    padding: 2px 10px;
    color: @primary;
    box-shadow: inset 0 -2px 0 0 @primary;
}

#workspaces button:hover {
    color: @secondary;
    background: transparent;
}

#workspaces button.visible,
#workspaces button.persistent {
    color: @primary;
}

#workspaces button.visible:hover,
#workspaces button.persistent:hover {
    color: @on_secondary_container;
}

#cpu,
#disk.root,
#disk.home,
#custom-recorder,
#custom-screenrecording-indicator,
#custom-update,
#custom-brightness,
#bluetooth,
#pulseaudio,
#network,
#battery,
#language {
    margin: 6px 0px;
    padding: 2px 0px;
    color: @primary;
}

#cpu:hover,
#custom-brightness:hover,
#custom-screenrecording-indicator:hover,
#custom-update:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#language:hover {
    color: @secondary;
}

#pulseaudio.muted {
    color: @tertiary;
}

#pulseaudio.muted:hover {
    color: @secondary;
}

#tray {
    margin: 6px 0px;
    padding: 2px 0px;
    color: @on_surface_variant;
}

#clock {
    margin: 6px 0px;
    padding: 2px 0px;
    color: @primary;
}

#custom-power {
    margin: 6px 6px 6px 0px;
    padding: 2px 6px 2px 0px;
    color: @primary;
}

#custom-power:hover {
    color: @secondary;
}