/*
* Variant: Catppuccin Mocha
*/

@define-color base            #1e1e2e;
@define-color surface         #181825;
@define-color overlay         #313244;

@define-color muted           #6c7086;
@define-color subtle          #9399b2;
@define-color text            #cdd6f4;

@define-color love            #f38ba8; /* red */
@define-color gold            #f9e2af; /* yellow */
@define-color rose            #f5c2e7; /* pink */
@define-color pine            #89b4fa; /* blue */
@define-color foam            #94e2d5; /* teal */
@define-color iris            #cba6f7; /* mauve */

@define-color highlightLow    #1a1b26;
@define-color highlightMed    #45475a;
@define-color highlightHigh   #585b70;

